@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$body-bg-flight: #3e92cc;
$body-color-flight: #3e92cc;
$primary-flight: #16324f;
$secondary-flight: #2a628f;
$tertiary-flight: #3e92cc;
$dark-flight: #13293d;
$dark-alt-flight: #18435a;